@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;600&display=swap');

body {
    margin: 0px;
    background-color: #fff;
    height: 100vh;
}
.wrapper .header  {
    /* width: 85%; */
    position: sticky;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .header ul li  {
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.wrapper .header ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
.wrapper .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-content .hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    color: black;
    margin-bottom: 0px;
}
.main-content .hero-text p {
    font-family: 'Lato', sans-serif;
    font-size: 40px; 
}
.wrapper .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper .contact-content .contact-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #000;
}
.wrapper .contact-content .contact-text p {
    font-family: 'Lato', sans-serif;
    font-size: 40px; 
}
